body{
    background-color: pink;
    text-align: center;
}

ol {


    margin-left: 35%;
    text-align: left;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.task{
    padding: 1%;
    font-size: 1.5vw;
}
button{
    width:8%;
    height: 30px;
    font-size: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(231, 219, 219);
}
.headline{
    padding: 9% 35% 1%;
    font-size: 3.5vw;
}
.input-field{
    width: 35%;
    height: 35px;
    margin: 1%;
    border-radius: 15px;
    font-size: 15px;
    border:1px solid grey;
    padding-left:1%;
}
.input-field:focus{
    background-color: rgb(243, 237, 237);
    border:2px solid grey;
    outline: none;
}
.add-button{
    height: 40px;
    border-radius: 15px;
    border:1px solid grey;
    background-color: rgb(206, 200, 200);
    width: 7%;

}
.add-button:active,.add-button:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease;
}
.move-up-button,.move-down-button{
    width:5%;
}
.list-items{
    padding: 0.5%;
}
button:active,button:hover{
    background-color:  grey;
    color: white;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease;
    border:1px solid grey;
}